@import 'basscss-basic';
@import 'basscss';
@import 'basscss-forms';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-sizes';
@import "colors.css/src/colors.css";

body {
  font-family: 'Montserrat';
}

.field {
  font-family: inherit;
  font-size: inherit;
}
