@import 'basscss-basic';
@import 'basscss';
@import 'basscss-forms';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import "basscss-colors";
@import "basscss-background-colors";
@import "basscss-border-colors";
@import "./icons.css";

a {
  text-decoration: none;
}

.field {
  font-family: inherit;
  font-size: inherit;
}

.spinner {
  @inherit: .circle, .border, .white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotate 500ms linear infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}
