@partial errors
  @if (state.error)
    <div class="mt2 mb0 col col-12">
      <div class="p2 bg-purple white">${state.error.message}</div>
    </div>
  @
@

@partial list
  <div class="col col-12">
    <h1>Tasks</h1>
    <ul class="fuchsia list-reset">
      @each state.tasks (item)
        <li class="p1">
          @if (item.closed)
            <del><a class="fuchsia" href="/tasks/${item.id}">${item.title || 'untitled'}</a></del>
          @
          @if (!item.closed)
            <a class="fuchsia" href="/tasks/${item.id}">${item.title || 'untitled'}</a>
          @
        </li>
      @
    </ul>
    <a class="btn btn-primary btn-big bg-fuchsia" href="/tasks/new">Add New</a>
  </div>
@

@yield main
