<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Memorie</title>
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="/app.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
      <div>
        <div class="flex items-center clearfix white bg-maroon p2 bold">
          <div class="col-4 left-align">
            <a class="white h3" href="/">Memorie</a>
          </div>
          <div class="flex-auto center">
          </div>
          <div class="col-4 right-align">
          </div>
        </div>
        @yield main
      </div>
    </main>
    @yield js
  </body>
</html>
